[Desktop Entry]
Name=iRATE radio
Name[es]=Radio iRATE
Comment=iRATE radio client
Comment[de]=iRATE radio client
Comment[es]=Cliente de radio iRATE
Encoding=ISO-8859-15
Exec=/usr/bin/irate-client
Icon=/usr/share/icons/irate.xpm
Terminal=0
Type=Application
