<?php
// iRATE server v0.2
// GPL licensed



/////////
//
// Basic settings
//
////////////////////


 //database connection : driver:://user:password@host/databasename
$cfg["dsn"]="mysql://root:@localhost/irate";

// password for maintainance operations
$cfg["admin_password"]="---UPDATE ME---";

 //the probability (0-100) of a random track being sent to the client
$cfg["random_frequency"]=2;

 //the default correlation algorithm
$cfg["dft_correlation"]="sylvinus1"; //hoping for a better one :)

// can users register with irate.registerUser ?
$cfg["allow_registering"]=true;





/////////
//
// Prepare settings
//
/////////////////


 //Activate the prepare function (compute correlation in background, needs cron, see README)
$cfg["prepare"]=false;

 //How many users to prepare at each batch
$cfg["prepare_users"]=30;

 //How many tracks to prepare for each user
$cfg["prepare_tracks"]=10;

 //After how long a prepared track is outdated (in days)
$cfg["prepare_expire"]=20;

 //How long after the user's last login tracks stop being prepared (days)
$cfg["prepare_idle"]=2*30;





/////////
//
// Advanced settings
//
////////////////////


 //Registered grabbers
$cfg["grabbers"][]="libredb_audio1";

 //Location of LibreDB_audio1 file
$cfg["grabber_libredb_audio1_url"]="http://pub1.jamendo.com/libredb/audio1.xml.gz";


?>
