<html><body bgcolor="#000000">
<img src="%IR_BIG_ICON"><h2 align="center"><font color="#758CFF">iRate Radio</font></h2>
<table border="0" cellspacing="1" cellpadding="0" bgcolor="#000000"><tr><td valign="top"><table width="100%" border="0" cellspacing="1" cellpadding="8" bgcolor="#758CFF"><tr><td valign="top"><h2>%LOC_SONG_PART</h2></td></tr></table>
<table width="100%" border="0" cellspacing="1" cellpadding="8" bgcolor="#FFFFFF">
	<tr><td valign="top"><b>%LOC_ARTIST</b></td><td valign="top">%SONG_ARTIST</td></tr>
	<tr><td valign="top"><b>%LOC_TITLE</b></td><td valign="top">%SONG_TITLE</td></tr>
	<tr><td valign="top"><b>%LOC_GENRE</b></td><td valign="top">%SONG_GENRE</td></tr>
	<tr><td valign="top"><b>%LOC_DATE</b></td><td valign="top">%SONG_DATE</td></tr>
	<tr><td valign="top"><b>%LOC_COMMENT</b></td><td valign="top">%SONG_COMMENT</td></tr>
	<tr><td valign="top"><b>%LOC_COPYRIGHT</b></td><td valign="top">%SONG_COPYRIGHT</td></tr>
	<tr><td valign="top"><b>%LOC_URL</b></td><td valign="top">%SONG_URL</td></tr>
	<tr><td valign="top"><b>%LOC_RATING</b></td><td valign="top">%SONG_RATE_ICON (%SONG_RATE_STRING)</td></tr>
	<tr><td valign="top"><b>%LOC_PLAYED</b></td><td valign="top">%SONG_PLAYED</td></tr>
</table></td></tr></table><br /><br />
<table border="0" cellspacing="1" cellpadding="0" bgcolor="#000000"><tr><td valign="top"><table width="100%" border="0" cellspacing="1" cellpadding="8" bgcolor="#758CFF"><tr><td valign="top"><h2>
%LOC_FILE_PART</h2></td></tr></table><table width="100%" border="0" cellspacing="1" cellpadding="8" bgcolor="#FFFFFF">
	<tr><td valign="top"><b>%LOC_FILE</b></td><td valign="top">%SONG_FILE</td></tr>
	<tr><td valign="top"><b>%LOC_BITRATE</b></td><td valign="top">%SONG_BITRATE</td></tr>
	<tr><td valign="top"><b>%LOC_SAMPLERATE</b></td><td valign="top">%SONG_SAMPLERATE</td></tr>
	<tr><td valign="top"><b>%LOC_CHANNELS</b></td><td valign="top">%SONG_CHANNELS</td></tr>
	<tr><td valign="top"><b>%LOC_LENGTH</b></td><td valign="top">%SONG_LENGTH</td></tr>
</table></td></tr></table><br /><br /></body></html>
